*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: get-color("text");
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: get-color("bg");
  line-height: 1.5;
  @media screen {
    padding-block-end: var(--navbar-height, 75px);
    @include breakpoint-up("lg") {
      padding-inline-start: var(--navbar-width, 85px);
      padding-block-end: 0;
    }
  }
}

a {
  text-decoration: none;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.2;
}

img {
  display: block;
}

svg {
  display: inline-block;
  text-align: center;
  font-size: 1em;
  vertical-align: -0.125em;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

input {
  color: get-color("text");
  border: 0;
  padding: 4px 10px;
  border-radius: 0.75rem;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6,
body, p, ul, figure, dd {
  margin: 0;
}

[hidden] {
  display: none !important;
}

:focus {
  outline: var(--focus-ring, 2px dashed);
  &:not(:focus-visible) {
    outline: none;
  }
}

::selection {
  color: #fff;
  background-color: get-color("text");
}
::placeholder {
  color: get-color("text", 0.7);
}
