#top-header {
  padding: 14px;
}

footer {
  padding: 10px;
  text-align: center;

  a {
    display: inline-block;
    color: get-color("accent");
    &:hover {
      text-decoration: underline;
    }
    svg {
      font-size: 1.5em;
      height: 1em;
      padding: 4px;
      margin-inline: 2px;
      vertical-align: bottom;
    }
  }
}

.page {
  min-height: 100vh;
  padding: 14px;
}

.page-dash {
  h2 {
    padding: 4px 10px;
    border-block-end: 2px solid;
  }
  h3 {
    display: inline-block;
    padding: 4px 10px;
    background-color: get-color("text", 0.08);
    border-radius: 1ex;
    margin-block-start: 1.5rem;
  }
}

.page-info {
  padding: 0;

  &.info-person {
    img {
      inline-size: 300px;
      margin-block: 0 1rem;
    }
    p {
      display: inline-block;
      margin-block: 0.5rem;
    }
  }
  .sec {
    padding: 4px 10px;
  }
}

.page-settings {
  h1 {
    padding: 4px 10px;
    border-bottom: 2px solid;
    margin-block-end: 1rem;
  }

  h2 {
    padding: 4px 10px;
    background-color: get-color("text", 0.05);
    border-inline-start: 6px solid;
    border-radius: 0.75rem;
    margin-block-end: 1rem;
  }

  select {
    display: block;
    inline-size: calc(100% - 2rem);
    font-size: 1.2rem;
    margin: 2rem 1rem;
    --focus-ring: 2px dashed #{get-color("accent")};
  }
}

.page-err {
  display: flex;
  flex-direction: column;
  gap: 10ch;
  text-align: center;
  min-height: calc(100vh - 80px);
  justify-content: space-evenly;
  h1 {
    color: get-color("yellow");
    font-size: 9vmin;

    code::after {
      content: "|";
      margin-inline-start: 0.2em;
    }
  }
  h2 {
    font-size: 6vmin;
  }
  .lane {
    justify-content: center;
    gap: 10px;
    padding: 10px;
    > * {
      flex: 1 0 auto;
    }
  }
}

.sec-credits {
  h2 {
    font-size: 2rem;
    padding: 4px 10px;
  }
}

@media print {
  .navbar,
  .sch {
    display: none !important;
  }
}

@include breakpoint-up("lg") {
  .page-settings {
    select {
      inline-size: auto;
    }
  }
}
