.lane {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

@each $scope in $scopes {
  .scope-#{$scope} {
    .block:not(.block-#{$scope}),
    .block-#{$scope} h3 {
      display: none;
    }
  }
}
