.sch {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  @include breakpoint-up("md") {
    font-size: 2rem;
  }
  @include breakpoint-up("lg") {
    font-size: 1.5rem;
    max-width: 40vw;
    margin-inline-start: auto;
  }
}

.sch-bar {
  position: relative;

  input {
    width: 100%;
    background-color: get-color("text", 0.08);
    border-bottom: 2px solid transparent;
    --focus-ring: none;

    &:hover {
      background-color: get-color("text", 0.1);
    }
    &:focus {
      border-color: currentColor;
      &:active {
        background-color: get-color("text", 0.15);
      }
    }
    &:placeholder-shown + button {
      display: none;
    }
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
    padding: 3px 10px;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

.sch-board {
  background-color: get-color("bg");
  @include layer("sch-board");
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  border-radius: 0.75rem;
  box-shadow: 0 2px 4px;
  max-height: 45vh;
  overflow: auto;
  @include custom-scrollbar("text");

  &:empty {
    display: none;
  }

  p {
    padding: 4px 10px;
    text-align: center;
  }
}

.sch-result {
  color: get-color("text");
  display: flex;
  align-items: center;
  gap: 1ch;
  width: 100%;
  margin-block: 4px;
  padding: 4px 10px;
  border-radius: 0.75rem;
  --focus-ring: none;
  img {
    height: 60px;
  }
  .type {
    margin-inline-start: auto;
    text-align: center;
    padding: 4px;
    @include invert;
    border-radius: 0.75rem;
    min-width: 65px;
    font-size: 1rem;
    text-transform: uppercase;
  }
  small {
    font-size: 65%;
    &:empty {
      display: none;
    }
  }

  &:hover {
    background-color: get-color("text", 0.08);
  }
  &:focus {
    background-color: get-color("text", 0.1);
    &:active {
      background-color: get-color("text", 0.15);
    }
  }
}
