.info {
  padding: 4px 10px;
}

.widget-basic-info {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0.75rem;
  user-select: none;
  margin-block: 1rem;

  li {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    background-color: get-color("text", 0.08);
    border-radius: 1ex;
    inline-size: calc(50% - 0.45rem);
    font-size: 2rem;
    padding: 4px 10px;

    strong {
      font-weight: 400;
      font-size: 1.5rem;
    }

    &:last-child {
      inline-size: 100%;
    }
  }
}

.wi-links {
  display: flex;
  gap: 1rem;
  padding: 6px;

  dd {
    flex-grow: 1;
  }

  a {
    display: block;
    text-align: center;
  }
}

.widget-ep-desc {
  div {
    position: relative;
    background-color: get-color("text", 0.08);
    padding: 10px 10px 4px;
    border-radius: 1ex;

    & + div {
      margin-block-start: 1.5rem;
    }
  }

  dt {
    font-size: 1.5rem;
  }

  .badge {
    font-size: 65%;
    padding: 0px 6px;
    color: #fff;
    background-color: get-color("text");

    position: absolute;
    inset-block-start: -10px;
    inset-inline-end: 0;
  }

  dd + dd {
    margin-block-start: 0.5rem;
  }
}

.widget-grid-list {
  display: grid;
  gap: 1rem;
  font-size: 1.4rem;
  flex: 2;

  div {
    background-color: get-color("text", 0.08);
    border-radius: 1ex;
  }

  dt,
  dd {
    padding: 4px 10px;
  }

  dt {
    font-weight: 500;
    border-block-end: 2px solid get-color("text", 0.2);
  }
}

.widget-keywords {
  background-color: get-color("text", 0.08);
  border-radius: 1ex;
  dt,
  dd {
    padding: 4px 10px;
  }
  dt {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    border-block-end: 2px solid get-color("text", 0.2);
  }
}

@include breakpoint-up("md") {
  .info {
    display: flex;
    gap: 1rem;

    @at-root .info-movie & {
      flex-wrap: wrap;
    }
  }
  .wrap {
    flex: 1;
  }
  .widget-ep-desc {
    flex: 2;
  }

  .widget-basic-info {
    margin-block-start: 1rem;
  }

  .widget-grid-list {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1rem;
  }
  .widget-keywords {
    inline-size: 15%;
  }
}

@include breakpoint-up("lg") {
  .wrap {
    inline-size: 60%;
  }
}

@include breakpoint-up("xl") {
  .wrap {
    flex: unset;
    inline-size: auto;
  }
  .info-movie .wrap {
    min-inline-size: 400px;
  }
}
